.div-princ{
    height: 1080px;
    width: 1920px;
    margin: 0 auto;
    background-color: aqua;
}
.cab{
    display: flex;
    height: 130px;
    width: 100%;
    background-color: #fff;
}
.banner{
    position: relative;
    height: 60px;
    width: 587px;
    margin-left: 0px;
    margin-top: 25px;
    border-top-right-radius:14px;
    border-bottom-right-radius: 14px;
    padding: 10px 0px 10px 20px;
    background-color: black;
    color: #fff;
}
.banner-tit,
.sub-tit{
    font-size: 16px;
    position: absolute;
}
.banner-tit{
    font-size: 22px;
    margin-top: 0px;
}
.sub-tit{
    margin-top: 30px;
}
.hour{
    display: flex;
    flex-direction: column;
}
.class-hour{
    height: 26px;
    width: 137px;
    font-size: 40px;
    font-family: Mulish;
    font-weight: 700;
    line-height: 20px;
    margin-left: 220px;
    margin-top: 30px;
    border-radius: nullpx;
}
.class-day{
    margin-top: 20px;
    margin-left: 180px;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
}
.class-temp{
    margin-left: 300px;
}
.city-c{
    margin-top: 20px;
    margin-bottom: 0;
    font-family: Mulish;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
}
.num-temp{
    font-family: Mulish;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 0;
}
.part-baixo{
    justify-content: space-between;
    display: flex;
}
.part-baixo img{
    height: 18px;
    width: 30px;
    margin-top: 25px;
}
.logout{
    display: flex;
    flex-direction: column;
    margin-left: 350px;
}
.img-logo{
    height: 50px;
    width: 176px;
    margin-top: 20px;
    cursor: pointer;
}
.img-seta{
    height: 20px;
    width: 20px;
    margin-left: 150px;
    cursor: pointer;
}
.logout p{
    font-family: Mulish;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: right;
    margin-top: 0;
}