.body-ls{
    color: rgba(224, 224, 224, 1);
    height: 1080px;
    width: 1920px;
    margin: 0 auto;
    background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
    display: flex;
}
.form-e,
.img-d{
    width: 50%;
}
.formul,.form-e{
    position:relative;
    display: flex;
    flex-direction: column;
    text-align: center;   
}
.span{
    position: absolute;
    margin-left: -90px;
    margin-top: 40px;
}
.titulo{
    font-family: Mulish;
    font-size: 60px;
    font-weight: 400;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 190px;
    margin-top: 85px;
    margin-bottom: 0;
}
.sub-titulo{
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 190px;
    margin-top: 0px;
    margin-bottom: 60px;

}
.btn-form{
    height: 60px;
    width: 379px;
    border-radius: 50px;
    margin-top: 18px;
    padding-left: 20px;
    background-color: #33383D;
    color: #fff;
    border: 1px solid #fff;
}
.btn-form::placeholder {
    color: #fff;
  }
  
.btn-button{
    position: absolute;
    height: 67px;
    width: 480px;
    border-radius: 50px;
    margin-top: 700px;
    margin-left: 190px;
    cursor: pointer;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(90deg, #FF2D04 0%, #C13216 100%),
    linear-gradient(132.34deg, #FF2D04 22.57%, #C13216 72.04%);
}

.errou{
    position: absolute;
    height: 40px;
    width: 295px;
    margin-left: 333px;
    margin-top: 220px;
    border-radius: nullpx;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(233, 180, 37, 1);
}
.img-d{
    position:relative;
}
#imgm-0{
    z-index: 2;
    position: absolute;
    margin-top:38px;
    margin-left: 231px;
}
#imgm-1{
    z-index: 1;
    position: absolute;
}
.links1{   
    position: absolute;
    width: 40px;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 30px;
    text-decoration: none;
    color:#fff;
}
.links1:hover{
    text-decoration:underline;
}
